# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Files
/build
/.vscode
/Tools/prometheus-2.44.0.linux-amd64/*
!.vscode/c_cpp_properties.json
!/Tools/prometheus-2.44.0.linux-amd64/prometheus.yml
Tools/Autogeneration/package-lock.json
